@tailwind base;
@tailwind components;
@tailwind utilities;

.box-shadow{
    box-shadow: 0 0 8px rgba(0,0,0,.33);
}

.boxHtml h1{
    font-size: 3rem;
}

.boxHtml h2{
    font-size: 2rem;
}

.boxHtml h3{
    font-size: 2rem;
}

.boxHtml ul, .boxHtml ol{
    margin: 10px 10px 10px 40px;
}

.boxHtml ul li{
    list-style-type: disc;
}

.boxHtml ol li{
    list-style-type: decimal;
}


code{ background: #EEE; padding: 2px; display: inline-block; }
h1{font-size: 2rem;}
h2{font-size: 1.5rem;}
h3{font-size: 1rem;}